<launch>

    <!-- Robots parameters -->
    <arg name = "robot_name"        default = "sparus2"/>
    <arg name="enableRviz"          default="true"/>
    <arg name="robot_xacro" default="$(find sparus2_description)/urdf/payload.urdf.xacro"/>

    <!-- Camera parameters -->
    <arg name = "camera_name"        default = "flir_spinnaker_stereo_camera"/>
    <arg name = "resolution"         default = "full"/>
    <arg name = "slave_camera_name"  default = "starboard"/>
    <arg name = "master_camera_name" default = "port"/>

    <!-- Image parameters -->
    <arg name = "enable_decimate_x1" default = "false"/>
    <arg name = "enable_decimate_x2" default = "false"/>
    <arg name = "enable_decimate_x4" default = "false"/>
    <arg name = "enable_decimate_x8" default = "true"/>

    <!-- Bagfiles parameters -->
    <param name = "/use_sim_time"    value = "true"/>
    <arg name = "bagfile" default = "/home/uib/bagfiles/sparus2_stereo_camera_2025-10-27-14-27-34_3.bag"/>

    <group ns = "$(arg robot_name)">

        <!-- Processes stereo images -->
        <include file = "$(find pointcloud_tools)/launch/stereo_processing/stereo_pipeline.launch">
            <arg name = "stereo"             value = "$(arg camera_name)"/>
            <arg name = "resolution"         value = "$(arg resolution)"/>
            <arg name = "slave_camera_name"  value = "$(arg slave_camera_name)"/>
            <arg name = "master_camera_name" value = "$(arg master_camera_name)"/>
            <arg name = "enable_decimate_x1" value = "$(arg enable_decimate_x1)"/>
            <arg name = "enable_decimate_x2" value = "$(arg enable_decimate_x2)"/>
            <arg name = "enable_decimate_x4" value = "$(arg enable_decimate_x4)"/>
            <arg name = "enable_decimate_x8" value = "$(arg enable_decimate_x8)"/>
        </include>

    </group>

    <!-- Load robot description -->
    <include file="$(find sparus2_description)/launch/sparus2_description.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="robot_xacro" value="$(arg robot_xacro)"/>
    </include>

    <!-- Play bagfile -->
    <node pkg = "rosbag" type = "play" name = "rosbag" args = "-r 1 -l --clock $(arg bagfile)"/>
    <!-- RViz -->
    <node if="$(arg enableRviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find pointcloud_tools)/pointcloud_viewer.rviz"/>

</launch>